@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-screen {
  height: calc(100vh - 78px);
  overflow-y: scroll;
  padding: 0 8px;
  padding-top: 10px;
  padding-bottom: 3em;
  background-color: rgb(182, 217, 182);
}

@media (min-width: 640px) {
  .main-screen {
    padding: 0 60px;
    padding-bottom: 50px;
  }
}

.main-screen::-webkit-scrollbar {
  width: 5px;
}

.main-screen::-webkit-scrollbar-track {
  background-color: #b4bbc2;
}

.main-screen::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px #505962;
  border-radius: 100px;
}

.loader {
  --d: 22px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  color: #085b21;
  box-shadow: calc(1 * var(--d)) calc(0 * var(--d)) 0 0,
    calc(0.707 * var(--d)) calc(0.707 * var(--d)) 0 1px,
    calc(0 * var(--d)) calc(1 * var(--d)) 0 2px,
    calc(-0.707 * var(--d)) calc(0.707 * var(--d)) 0 3px,
    calc(-1 * var(--d)) calc(0 * var(--d)) 0 4px,
    calc(-0.707 * var(--d)) calc(-0.707 * var(--d)) 0 5px,
    calc(0 * var(--d)) calc(-1 * var(--d)) 0 6px;
  animation: l27 1s infinite steps(8);
}
@keyframes l27 {
  100% {
    transform: rotate(1turn);
  }
}

@layer base {
  html {
    @apply bg-colorDarkest text-colorLight overflow-hidden m-0 p-0 box-border;
  }
}

@layer components {
  .btn {
    @apply py-1 px-2 text-[12px] sm:text-[16px] sm:py-2 sm:px-4 bg-colorDark text-colorLight border-[2px] border-colorDark rounded-[100px] hover:bg-colorTheme;
  }
  .btn[disabled] {
    @apply opacity-50 cursor-not-allowed;
  }

  .h1 {
    @apply text-3xl font-bold;
  }
  .h2 {
    @apply text-xl font-semibold;
  }
  .h3 {
    @apply text-lg font-medium;
  }

  .main-screen {
    @apply px-[60px] sm:px-[8px];
  }

  .list {
    @apply flex items-center flex-wrap justify-center md:justify-start mb-16 md:mb-0;
  }

  .item_wrapper {
    @apply p-2 xl:w-[25%] lg:w-[33.33%] md:w-[50%] sm:w-[50%] min-h-[170px];
  }

  .item {
    @apply py-2 px-4 block !min-w-full min-h-[170px] hover:bg-[#327032] shadow-lg bg-colorDark rounded-[10px] transition-all duration-200 ease-in-out;
  }
  @media screen and (max-width: 394px) {
    .item {
      width: 330px;
    }
  }
  .hadith-item_footer {
    @apply p-[3px] mr-2 bg-colorLight rounded-[100px] text-black text-xs shadow-sm;
  }

  .nav-link {
    @apply px-2 py-3 rounded text-colorAccent;
  }

  .nav-link-active {
    @apply text-colorLight;
  }
}
